.home {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.middle_buttons {
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: max-content;
	width: 100%;
	padding: 0 20px 10px;
}

.middle_buttons-scroll {
	display: flex;
	z-index: 9;
	flex-direction: column;
	gap: 8px;
}

.middle_buttons-scroll img {
	height: 30px;
	width: 20px;
	margin: 0 auto;
}

.middle_button {
	display: none;
}

@media (max-width: 768px) {
	.middle_texts h2 {
		font-size: 17px;
	}
	.middle_texts p {
		font-size: 16px;
	}
	.middle_button {
		display: flex;
		position: fixed;
		width: 25px;
		top: 50%;
		right: 0;
		height: max-content;
		justify-content: end;
		z-index: 10;
	}
	.middle_button a {
		display: inline-block;
		transform: rotate(90deg);
		white-space: nowrap;
		font-size: 18px;
		padding: 10px;
		background-color: #d3b486;
		color: #ffffff;
		font-weight: bold;
		position: absolute;
		right: -61px;
	}
}
.share_section{
	position: absolute;
	right: 5px;
	bottom: 90px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 45px;
	backdrop-filter: blur(10px);
	z-index: 10;
	padding: 5px;
}
.share_section button , .share_section button img{
	background: transparent;
	border: transparent;
	position: absolute;
	right: 0;
	top: 0;
	width: 10px;
	height: 10px;
}
.share_section button img{
	width: 40px;
	height: 40px;
}
.share_section p{
	font-weight: 200;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
}