.image img:first-child {
	height: 128px;
}

.image img {
	height: 105px;
}

.space p {
	font-weight: 300;
	font-size: 15px;
	margin: 20px 0;
}
/* Add this to your CSS file */
.react-image-lightbox-rotate-left, .react-image-lightbox-rotate-right , .rotatel , .rotater {
    display: none !important;
}
@media (min-width: 768px) {
	.image img {
		height: auto;
	}
	.image img:first-child {
		height: auto;
	}
	.image {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}
	.space p {
		font-weight: 300;
		font-size: 24px;
		margin: 10px 0;
	}
}

@media (max-width: 375px) {
	.image img,
	.image img:first-child {
		height: auto;
		width: 100%;
	}
}
