.faq {
	width: 100%;
	height: max-content;
	min-height: 100%;
	padding: 70px 0;
}

.faq_section {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	height: max-content;
	gap: 30px;
	margin-top: 50px;
}

.faq_title {
	font-size: 47px;
	color: #cdac6d;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.acardenons {
	display: grid;
	gap: 10px;
	margin-bottom: 70px;
}

.acardenon {
	border: 0.5px solid #fff;
	padding: 10px 12px;
	max-width: 530px;
}

.acardenon_up {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.acardenon p {
	font-size: 16px;
	font-weight: 300;
}
.acardenon_p {
	margin-top: 33px;
}

.open {
	display: none;
}

.arrow_down {
	rotate: 0;
	transition: rotate 0.5s;
	width: 13px;
	height: 27px;
}

.arrow_top {
	rotate: 180deg;
	transition: rotate 0.5s;
	width: 13px;
	height: 27px;
}

.faq_btn {
	background-color: #cdac6d;
	border: 0;
	outline: 0;
	padding: 15px 30px;
	font-size: 20px;
	color: #000000;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

.faq_btn_text {
	font-size: 13px;
	font-weight: 300;
	width: 200px;
	text-align: center;
	margin-top: 20px;
}

@media (max-width: 1440px) {
	.faq_title {
		max-width: auto;
		font-size: 66px;
		color: #cdac6d;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
}

@media (max-width: 768px) {
	.faq_title {
		font-size: 46px;
		text-align: center;
	}
	.faq_section {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 97%;
		height: max-content;
		gap: 30px;
		margin-top: 50px;
	}
	.faq_inner {
		align-items: center;
		width: 94%;
	}
	.faq_btn,
	.faq_btn_text {
		display: none;
	}
}
