.wealth p {
	font-weight: 300;
	font-size: 15px;
	
}

.wealth p span {
	color: #cdac6d;
}

.wealth img {
	width: 100%;
	height: 100%;
	/* margin: 20px 0 26px; */
}

@media (min-width: 768px) {
	.wealth p {
		font-size: 19px;
	}
	
}
.object_section {
	padding: 50px 0;
	background-repeat: no-repeat;
}

.large_wealth {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.large_wealth img {
	width: 250px;
	height: 120px;
}

@media screen and (max-width: 768px) {
	.desc{
		height: 100vh;
	}
}