.investment {
	width: 100%;
	height: max-content;
	min-height: 100vh;
	top: 0;
	left: 0;
}

.investment_section {
	display: flex;
	align-items: start;
	margin-top: 200px;
	flex-direction: column;
	min-height: 100vh;
}

.slider {
	margin-top: 150px;
	width: 100%;
	z-index: 10;
	position: relative;
}

.slider_section {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 7px;
}

.slider_slide {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 3px;
}
.investment {
	background-size: cover;
}

.investment_section-text h2 {
	color: #fff;
	text-transform: uppercase;
}

.investment_section-text p,
.list {
	color: #fff;
	font-weight: 300;
}

.investment_icons {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.second_icon {
	display: none;
}

.quick_menu {
	display: grid;
	gap: 20px;
	margin-top: -50px;
}

.quick_menu p {
	font-size: 22px;
	font-weight: 300;
}

.quick_menu ul {
	list-style: none;
	gap: 10px;
	display: grid;
}

.quick_menu ul li {
	font-size: 24px;
	text-transform: uppercase;
	cursor: pointer;
}

.quick_menu a {
	color: #cdac6d;
	background-color: #ffffff5a;
	padding: 10px 20px;
	width: max-content;
}

.investment_icons img {
	width: 50px;
	height: 50px;
}

.slider_scroll-progres {
	position: relative;
	width: 100%;
	background-color: #fff;
	height: 2px;
}

.slider_scroll-progres_bar {
	position: absolute;
	bottom: 0;
	background-color: #fff;
	height: 4px;
	width: 10%;
	transition: left 0.3s ease-in-out;
}

.slider_button {
	background: transparent;
	border: 0;
	outline: 0;
}

.slider_button img {
	width: 13px;
	height: 100%;
}

.investment_section-img {
	margin-bottom: 66px;
}

.investment_section-text {
	display: grid;
	gap: 15px;
}

.investment_section-text h2 {
	font-size: 23px;
	line-height: 35px;
	font-weight: 400;
}

.investment_section-text h2 span {
	color: #cdac6d;
}

.investment_section-text p {
	font-size: 15px;
	line-height: 20px;
}

.list {
	gap: 15px;
	display: grid;
	list-style: none;
	font-size: 18px;
}

.clue {
	background-color: #cdab6dc7;
	margin-top: 25px;
	padding: 14px;
	display: flex;
	gap: 14px;
	align-items: flex-start;
	color: #000;
}

.clue_blue {
	background-color: #2565afb4;
	margin-top: 25px;
	padding: 14px;
	display: flex;
	gap: 14px;
	align-items: flex-start;
	font-weight: 300;
}

.clue a {
	display: block;
	text-decoration: underline;
	color: #104a8b;
	font-weight: bold;
}

.clue img,
.clue_blue img {
	width: 15px;
	height: 17px;
}

.clue_blue img {
	fill: #000;
}

.clue_section {
	display: grid;
	gap: 10px;
}

.clue_section p {
	font-weight: 300;
	font-size: 11px;
	line-height: 13px;
}

.inputs {
	display: grid;
	grid: template columns 1fr;
}

.inputs input {
	background-color: transparent;
	border: 0;
	outline: 0;
	padding: 15px 0;
	border-bottom: 1px solid #fff;
	font-size: 16px;
	color: #fff;
}

.inputs input::placeholder {
	text-transform: uppercase;
}

.inputs button {
	background-color: #cdac6d;
	border: 0;
	outline: 0;
	padding: 15px 0;
	font-size: 16px;
	color: #000000;
	text-transform: uppercase;
	margin-top: 30px;
}

.inputs p {
	font-size: 11px;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin-top: 10px;
}
.visa {
	display: none;
}

@media (max-width: 1440px) {
	.investment_section-text h2 {
		font-size: 72px;
		line-height: 72px;
		max-width: 900px;
	}
	.investment_section-text p,
	.list {
		color: #fff;
		font-weight: 300;
		font-size: 24px;
		line-height: normal;
		max-width: 800px;
	}
	.list {
		gap: 30px;
	}
	.clue_section p,
	.clue_section h6 {
		font-size: 19px;
		line-height: normal;
	}
	.clue img {
		width: 30px;
		height: 30px;
	}
	.inputs {
		width: 460px;
	}
}

@media (max-width: 1024px) {
	.investment_section-text h2 {
		font-size: 52px;
		line-height: normal;
	}
	.investment_section-text p,
	.list {
		font-size: 20px;
		line-height: normal;
	}
	.clue_section p,
	.clue_section h6 {
		font-size: 16px;
	}
	.clue img {
		width: 20px;
		height: 20px;
	}
	.inputs {
		width: 460px;
	}
}

@media (max-width: 768px) {
	.investment_section-text h2 {
		font-size: 42px;
		max-width: 500px;
	}
	.visa {
		display: block;
		margin-bottom: 40px;
	}
}

@media (max-width: 640px) {
	.investment_section-text h2 {
		max-width: 525px;
		font-size: 30px;
	}
	.investment_section-text p,
	.list {
		font-size: 16px;
		line-height: normal;
		max-width: 500px;
	}

	.investment_section {
		display: flex;
		align-items: start;
		justify-content: center;
		flex-direction: column;
		min-height: 100vh;
	}
}

@media (max-width: 540px) {
	.investment_section-text h2 {
		max-width: 400px;
		font-size: 30px;
	}
	.investment_section-text p,
	.list {
		font-size: 16px;
		line-height: normal;
		max-width: 350px;
	}
	.inputs {
		max-width: 360px;
	}
}

@media (max-width: 440px) {
	.investment_section-text h2,
	.investment_section-text p,
	.list,
	.inputs {
		max-width: 330px;
	}
	.investment_section-text h2 {
		font-size: 23px;
	}
	.investment_section-text p {
		font-size: 15px;
	}
	.slider {
		margin-top: 90px;
	}
	.visa {
		display: block;
		width: 150px;
		position: relative;
		z-index: 1;
		margin: 0 0 30px;
	}

	.investment_section {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin: 100px 0;
		min-height: 100vh;
	}
	.second_icon {
		display: block;
		width: 100px;
		margin: 0 auto;
	}
}

@media (max-width: 400px) {
	.investment_section-text h2,
	.investment_section-text p,
	.list,
	.inputs {
		max-width: 315px;
	}
}

@media (max-width: 375px) {
	.investment_section-text p,
	.list,
	.inputs {
		max-width: 300px;
	}
	.slider {
		margin-top: 70px;
	}
}

@media (max-width: 355px) {
	.investment_section-text h2,
	.investment_section-text p,
	.list,
	.inputs {
		max-width: 270px;
	}
}

@media (max-width: 335px) {
	.investment_section-text p,
	.list,
	.inputs {
		max-width: 235px;
	}
	.investment_section-text h2 {
		font-size: 20px;
	}
	.slider {
		margin-top: 50px;
	}
	.investment_section-img {
		margin-bottom: 40px;
	}
	.list li {
		font-size: 14px;
	}
}
.investment {
	transition: background-image 0.5s ease-in-out;
}

.investment_section {
	transition: all 0.5s ease-in-out;
}

.investment_section-text h2 {
	transition: all 0.5s ease-in-out;
}

.investment_section-text p,
.list {
	transition: all 0.5s ease-in-out;
}

.slider_scroll-progres_bar {
	transition: left 0.5s ease-in-out;
}

@media screen and (min-width: 768px) {
	.investment {
		/* background: url("/public/desktop/1\ main/main-bg-descktop_1.webp"); */
	}
}
