.investment {
	width: 100%;
	height: max-content;
	min-height: 100vh;
	top: 0;
	left: 0;
}

.investment_section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
}

.slider {
	margin-top: 150px;
	width: 100%;
	z-index: 10;
	position: relative;
}

.slider_section {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	gap: 7px;
}

.slider_slide {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 3px;
}
.investment {
	background-size: cover;
	/* background-position: center; */
}

.investment_section-text h2 {
	color: #fff;
}

.investment_section-text p,
.list {
	color: #fff;
	font-weight: 300;
}

.investment_icons {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.second_icon img {
	margin: 0 auto;
	text-align: center;
	width: 30%;
	display: flex;
}

.investment_icons img {
	width: 50px;
	height: 50px;
}

.slider_scroll-progres {
	position: relative;
	width: 100%;
	background-color: #fff;
	height: 2px;
}

.slider_scroll-progres_bar {
	position: absolute;
	bottom: 0;
	background-color: #fff;
	height: 4px;
	width: 10%;
	transition: left 0.3s ease-in-out;
}

.slider_button {
	background: transparent;
	border: 0;
	outline: 0;
}

.slider_button img {
	width: 13px;
	height: 100%;
}

.investment_section-img {
	margin-bottom: 66px;
}

.investment_section-text {
	display: grid;
	gap: 15px;
}

.investment_section-text h2 {
	font-size: 23px;
	line-height: 35px;
	font-weight: 400;
}

.investment_section-text h2 span {
	color: #cdac6d;
}

.investment_section-text p {
	font-size: 15px;
	line-height: 20px;
}

.list {
	gap: 15px;
	display: grid;
	list-style: none;
	font-size: 18px;
}

.clue {
	background-color: #cdab6dc7;
	margin-top: 25px;
	padding: 14px;
	display: flex;
	gap: 14px;
	align-items: flex-start;
	color: #000;
}

.clue_blue {
	background-color: #2565afb4;
	margin-top: 25px;
	padding: 14px;
	display: flex;
	gap: 14px;
	align-items: flex-start;
	font-weight: 300;
}

.clue a {
	display: block;
	text-decoration: underline;
	color: #104a8b;
	font-weight: bold;
}

.clue img,
.clue_blue img {
	width: 15px;
	height: 17px;
}

.clue_blue img {
	fill: #000;
}

.clue_section {
	display: grid;
	gap: 10px;
}

.clue_section p {
	font-weight: 300;
	font-size: 11px;
	line-height: 13px;
}

.inputs {
	display: grid;
	grid: template columns 1fr;
}

.inputs input {
	background-color: transparent;
	border: 0;
	outline: 0;
	padding: 15px 0;
	border-bottom: 1px solid #fff;
	font-size: 16px;
	color: #fff;
}

.inputs input::placeholder {
	text-transform: uppercase;
}

.inputs button {
	background-color: #cdac6d;
	border: 0;
	outline: 0;
	padding: 15px 0;
	font-size: 16px;
	color: #000000;
	text-transform: uppercase;
	margin-top: 30px;
}

.inputs p {
	font-size: 11px;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin-top: 10px;
}

@media (max-width: 440px) {
	.investment_section-text h2,
	.investment_section-text p,
	.list,
	.inputs {
		max-width: 330px;
	}
	.slider {
		margin-top: 90px;
	}
	.visa {
		width: 150px;
		position: relative;
		z-index: 1;
		margin: 0 0 30px;
	}
}

@media (max-width: 400px) {
	.investment_section-text h2,
	.investment_section-text p,
	.list,
	.inputs {
		max-width: 315px;
	}
}

@media (max-width: 375px) {
	.investment_section-text p,
	.list,
	.inputs {
		max-width: 300px;
	}
	.slider {
		margin-top: 70px;
	}
}

@media (max-width: 355px) {
	.investment_section-text h2,
	.investment_section-text p,
	.list,
	.inputs {
		max-width: 270px;
	}
}

@media (max-width: 335px) {
	.investment_section-text p,
	.list,
	.inputs {
		max-width: 235px;
	}
	.investment_section-text h2 {
		font-size: 20px;
	}
	.slider {
		margin-top: 50px;
	}
	.investment_section-img {
		margin-bottom: 40px;
	}
	.list li {
		font-size: 14px;
	}
}
.investment {
	transition: background-image 0.5s ease-in-out;
}

.investment_section {
	transition: all 0.5s ease-in-out;
}

.investment_section-text h2 {
	transition: all 0.5s ease-in-out;
}

.investment_section-text p,
.list {
	transition: all 0.5s ease-in-out;
}

.slider_scroll-progres_bar {
	transition: left 0.5s ease-in-out;
}

@media (min-width: 1180px) {
	.investment_section-text h2 {
		color: #fff;
		font-size: 52px;
		width: 900px;
		line-height: 70px;
	}

	.investment_section-text p,
	.list {
		color: #fff;
		font-weight: 300;
		font-size: 24px;
		line-height: 32px;
	}

	.second_icon img {
		margin: 0 auto;
		text-align: center;
		width: 10%;
		display: flex;
	}
}

@media (min-width: 1024px) {
	.investment_section-text h2 {
		color: #fff;
		font-size: 42px;
		width: 700px;
		line-height: 50px;
	}

	.investment_section-text p,
	.list {
		color: #fff;
		font-weight: 300;
		font-size: 16px;
		line-height: 32px;
	}

	.second_icon img {
		margin: 0 auto;
		text-align: center;
		width: 10%;
		display: flex;
	}
}

@media (min-width: 768px) {
	.investment_section-text h2 {
		color: #fff;
		font-size: 42px;
		width: 600px;
		line-height: 50px;
	}

	.investment_section-text p,
	.list li {
		color: #fff;
		font-weight: 300;
		font-size: 14px;
		width: 600px;

		line-height: 32px;
	}

	.second_icon img {
		margin: 0 auto;
		text-align: center;
		width: 10%;
		display: flex;
	}
}

@media (min-width: 425px) {
	.investment_section {
		margin-top: 60px;
	}
}
