.about_button {
	border: 1px solid #cdac6d;
	color: #fff;
	text-transform: uppercase;
	background-color: transparent;
	padding: 17px 0;
	width: 100%;
	font-size: 20px;
	font-weight: 300;
	position: relative;
	top: 220px;
}
.about {
	min-height: 100vh;
	height: max-content;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
}
.section {
	margin: 30px 0 0;
	width: 95%;
}


.section p {
	margin-top: 10px;
	font-weight: 300;
	font-size: 16px;
}

.reviews {
	margin-top: 25px;
	border: 1px solid #cdac6d;
	padding: 17px 13px;
}

.reviews h4 {
	font-weight: 300;
	font-size: 18px;
	color: #cdac6d;
}

.reviews_data {
	color: #bfbfbf;
	font-size: 14px;
	margin-top: 25px;
}

.form__section {
	padding: 17px 20px;
}

.about_content {
	display: none;
}


.form__section div {
	color: #cdac6d;
}

.form__section form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.form__section form input {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	padding: 13px 7px;
	outline: 0;
}

.form__section form textarea {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	padding: 13px 7px;
	outline: 0;
	min-height: 134px;
}

.form__section form input::placeholder,
.form__section form textarea::placeholder {
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
}

.form__section form button {
	background-color: #cdac6d;
	padding: 17px 0;
	text-transform: uppercase;
	border: 0;
	outline: 0;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Rubik', sans-serif;
}

.form__section form p {
	font-size: 10px;
	font-weight: 300;
	color: #e5e5e5;
}

.about_desktop {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 30px;
}

.about_sector p {
	font-size: 22px;
	font-weight: 300;
	margin-top: 40px;
}

.about_sector button {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	background-color: #cdac6d;
	font-weight: 300;
	margin-top: 140px;
	width: 100%;
	padding: 17px 0;
	color: #000;
}

.review {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	margin-top: 30px;
}

.reviews_details {
	width: max-content;

	max-width: 305px;
	height: max-content;
	background-color: #ffffffa1;
	padding: 13px 17px;
}

.about_sector .about_sector-down {
	font-size: 16px;
	text-align: center;
	margin: 10px;
}

.reviews_details-up {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.reviews_details-up h4 {
	color: #3b32a0;
	font-weight: bold;
}

.reviews_details-up p {
	color: #201f1f;
	font-size: 14px;
	font-weight: 300;
}

.reviews_details p {
	color: #201f1f;
	margin-top: 10px;
	font-size: 16px;
	font-weight: 300;
}

@media (max-width: 1024px) {
	.review {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;
		margin-top: 30px;
	}
}

@media (max-width: 768px) {
	.about_center {
		display: none;
	}
	.about_content {
		display: block;
	}
}
