.form__section-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
}

.form__section {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form__section-flex h2 span {
	color: #fff;
}

@media (max-width: 992px) {
	.form__section-flex {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 70px;
	}
}

@media (max-width: 768px) {
	.form__section-flex {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		width: 100%;
		align-items: center;
	}

}


@media (max-width: 410px) {
	.form__section-flex {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 20px;
	}
}
