@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');
.left-side {
	background-position: left bottom;
}

.cambodia_section-flex {
	/* position: absolute; */
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    margin: 20px 0;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    z-index: 10;
	z-index: 10;
}
.cambodia_section-flex div{
	width: 250px;
}
.cambodia_section-flex .cambodia_texts h2 {
	font-size: 15px;
}

.cambodia_title {
	font-size: 72px;
	font-weight: 300;
	margin-top: 50px;
	color: #cdac6d;
	text-transform: uppercase;
}

.cambodia_subtitle {
	font-size: 20px;
	font-weight: 300;
	margin: 10px 0;
}
.cambodia {
    background: url('/public/mobile/2 cambodia/bg-scroll.webp');
    background-size: cover;
    height: 100vh;
    width: 100%; 
	overflow: scroll;
    position: relative; 
}

@keyframes moveRight {
    0% {
        transform: translateX(0) scaleX(-1);
    }
    50% {
        transform: translateX(20px) scaleX(-1);
    }
    100% {
        transform: translateX(0) scaleX(-1);
    }
}
@media screen and (min-width: 768px) {
}
.center-side {
	background-position: center bottom;
}

.right-side {
	background-position: right bottom;
}
.cambodia {
	overflow: hidden;
}
.cambodia_section {
	margin-top: 70px;
}
.about_cambodia {
	padding: 10px;
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	background: #8d8d8d;
}
.about_cambodia h2 {
	color: #cdac6d;
	font-family: 'Rubik';
	font-weight: 300;
	margin-bottom: 10px;
	font-size: 40px;
}
.about_cambodia p {
	font-family: 'Rubik';
	font-weight: 300;
	margin-bottom: 20px;
	font-size: 16px;
}
.cambodia_texts {
	margin-top: 20px;
	gap: 30px;
	display: flex;
	width: 93%;
	flex-direction: column;
}
.cambodia_texts h2 {
	font-size: 22px;
	font-family: 'Rubik', sans-serif;
	position: relative;
	margin-left: 20px;
	font-weight: 500;
}
.cambodia_texts h2::before {
	content: '';
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
	height: 100%;
	width: 2px;
	background-color: #ffffff; 
}
.cambodia_texts h2 span {
	font-weight: 300;
}
.cambodia_img {
	margin-top: 30px;

}
.cambodia_last_texts {
	align-items: center;
	justify-content: start;
	width: 92%;
}
.cambodia_last_texts button {
	padding: 10px;
	background: #cdac6d;
	border: none;
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 300;
	width: 100%;
	text-transform: uppercase;
}
.cambodia_last_texts p {
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 13px;
}
.investment {
	position: relative;
	overflow: hidden;
}

.investment img {
	transition: all 0.5s ease;
}

.cambodia_img {
	width: 100%;
	transition: opacity 0.5s ease, transform 0.5s ease;
}

.slider_scroll-progres_bar {
	transition: left 0.5s ease;
}

@media (max-width: 768px) {
	.slider.slider_combodia {
		margin-top: 70px;
	}
	.cambodia_last_texts{
		margin-top: 50px;
	}
	.cambodia_last_texts p{
		font-size: 18px;
	}
}

@media (max-width: 435px) {
	.slider.slider_combodia {
		margin-bottom: 70px;
	}
	.investment img {
		position: relative;
		width: 80%;
		z-index: 0;
	}
	.cambodia_texts h2 {
		font-size: 18px;
	}
}
