/* src/Header.css */

.header {
	color: white;
	position: fixed;
	width: 100%;
	z-index: 12;
	top: 0;
	height: 100px;
}

.header__inner {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
}

.header__inner-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__inner-logo {
	display: flex;
	align-items: center;
	gap: 50px;
}

.menu-icon {
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.menu-icon .line {
	width: 60px;
	height: 1px;
	background-color: white;
	margin: 4px 0;
}

.logo {
	max-width: 80px;
	margin-bottom: 10px;
}

.title {
	font-size: 24px;
	margin: 5px 0;
}

.subtitle {
	font-size: 14px;
	margin: 2px 0;
}

.stars {
	display: flex;
	justify-content: center;
	gap: 4px;
}

.star {
	font-size: 20px;
	color: gold;
}

.burger {
	left: 0;
	transform: translateX(-100%);
	transition: transform 1s ease-in-out, opacity 1s ease-in-out, background 1s ease-in-out;
	opacity: 0;
	background: url('/public/mobile/menu_fon.webp') center no-repeat;
	width: 100%;
	max-width: 768px;
	height: max-content;
	min-height: 100vh;
	position: fixed;
	top: 0;
	z-index: 1;
	padding: 24px 36px;
}

.burger_active {
	background: url('/public/desktop/menu_bg_decktop.webp');
	transform: translateX(0);
	opacity: 1;
	transition: transform 1s ease-in-out, opacity 1s ease-in-out, background 1s ease-in-out;
	width: 100%;
	max-width: 600px;
	background-position: right;
	background-size: cover;
	height: max-content;
	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	padding: 24px 36px;
}

.burger__overflow {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9998;
	background: rgba(0, 0, 0, 0.5); /* Optional: adds an overlay behind the menu */
	visibility: hidden; /* Initially hidden */
	opacity: 0; /* Initially transparent */
	transition: visibility 0s 1s, opacity 1s ease-in-out; /* Delay visibility change */
}

.burger__overflow_active {
	visibility: visible;
	opacity: 1;
	transition: opacity 1s ease-in-out;
}

.burger_active .burger_menu li {
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 0.5s forwards;
}

.burger_active .burger_menu li:nth-child(1) {
    animation-delay: 1.1s;
}

.burger_active .burger_menu li:nth-child(2) {
    animation-delay: 1.2s;
}

.burger_active .burger_menu li:nth-child(3) {
    animation-delay: 1.3s;
}

.burger_active .burger_menu li:nth-child(4) {
    animation-delay: 1.4s;
}

.burger_active .burger_menu li:nth-child(5) {
    animation-delay: 1.5s;
}

.burger_active .burger_menu li:nth-child(6) {
    animation-delay: 1.6s;
}

.burger_active .burger_menu li:nth-child(7) {
    animation-delay: 1.7s;
}

.burger_active .burger_menu li:nth-child(8) {
    animation-delay: 1.8s;
}

.burger_active .burger_menu li:nth-child(9) {
    animation-delay: 1.9s;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.burger_close {
	background-color: transparent;
	position: absolute;
	top: 18px;
	right: 15px;
	border: 0;
}

.burger_menu {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	margin: auto 0;
	gap: 10px;
	list-style: none;
	text-transform: uppercase;
	position: relative;
	height: 50vh;
	margin-top: 20%;
	z-index: 9999;
	font-size: 32px;
}

.burger_menu li {
	font-weight: 300;
	position: relative;
	width: max-content;
	cursor: pointer;
}
.burger_menu li::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 2px;
	background-color: white;
	opacity: 0;
	transition: all 1s;
}
.burger_menu li:hover::after{
	opacity: 1;
	width: 100%;

}

.links {
	margin: 0 auto;
	display: flex;
	font-weight: 300;
	gap: 25px;
	margin-top: 100px;
}

.links a img {
	height: 23px;
}

@media (max-width: 1024px) {
	.logo {
		max-width: 100px;
	}
	.star {
		font-size: 15px;
	}
}

@media (min-width: 600px) {
	.header {
		flex-direction: row;
		justify-content: center;
	}

	.logo-section {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.title {
		font-size: 36px;
	}

	.subtitle {
		font-size: 18px;
	}

	.stars {
		justify-content: flex-end;
	}
}
