/* LoadingComponent.css */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/images/loading_bg.webp');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
  }
  
  .loading-circle {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-ring__background {
    transition: stroke-dashoffset 0.5s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  
  .progress-ring__circle {
    transition: stroke-dashoffset 0.5s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  
  .loading-logo {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .loading-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .loading-percentage {
    margin-top: 20px;
    font-size: 100px;
    font-weight: 100;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
  }
  