.video {
	width: 100%;
	min-height: 100vh;
	height: max-content;
}

.video_section {
	margin-top: 48px;
}

.video_section p {
	text-align: center;
	font-weight: 300;
	margin-bottom: 5px;
}


.video_video {
	position: relative;
}

.video_button {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: transparent;
	transform: translate(-50%, -50%);
	border: 0;
}

.video_button img {
	width: 80px;
}

@media (min-width: 764px) {
	.video_video video {
		width: 100%;
		height: 600px;
	}

	.video_section p {
		display: none;
	}

	.video_section h2 {
		display: none;
	}
	.video_section {
		padding: 100px 0;
	}
}

@media (max-width: 768px) {
	.video_video video {
		width: 100%;
		height: 600px;
	}

	.video_section p {
		display: block;
	}

	.video_section h2 {
		display: block;
	}
}
